body {
    --size: 10rem;
    transition: 0.5s ease;
    display: flex;
}

div {
    background: cornflowerblue;
    color: white;
    width: var(--size);
    height: var(--size);
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    align-items: center;
    justify-content: center;
    user-select: none;
    }
div:hover {
        background:#e91e63 ;
        border-radius: 100px;
    }
div:active {
    font-size: 1.5rem;
    background: green;
    box-shadow: inset 0 0 10px rgba(1, 1, 1, 0.61);
    transition-delay: 5px;
}
